<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>seasons.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>29DB749B2F502CB419C4AD91BDB86618BEE2E938</string>
				<key>dateExpires</key>
				<string>10/10/20</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>QY3QKXPU37.com.seasons.Seasons</string>
				<key>com.apple.developer.team-identifier</key>
				<string>QY3QKXPU37</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>QY3QKXPU37.com.seasons.Seasons</string>
				</array>
			</dict>
			<key>name</key>
			<string>seasons.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0ca90687-a7c0-4345-aab1-1ed9b5c3f7ed</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.seasons.Seasons</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>QY3QKXPU37</string>
				<key>name</key>
				<string>SZNS, Inc.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
